body{
    background-image: url(../Imagenes/fondo1.png);
    font-family: Arial, Helvetica;
    margin: 0;
}

header{
    width: 100%;
    background: rgba(141, 8, 8, 0.836);
}

.mainMenu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mainMenu li{
    text-align:center;
}

.mainMenu li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.containerQH{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
}

.containerQH h1{
    font-size: 40px;
    margin-bottom: 60px;
    color: white;
}


.containerQH img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.containerQH p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 150px;
    text-align: justify;
    color: white;
    font-weight: bold;
}


